body{
    margin: 0;
    background-color: tan;
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: beige
}

header{
    background-color: lightblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
header img{
    border-radius: 560px;
    color: chocolate;
    border: 10px solid rgb(76, 35, 5);
}

h1, h2{
    font-family: 'Mulish', sans-serif;
}

header h1{
    color: chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;    
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: tan;
}
h2{
    color: rgb(76, 35, 5);
    font-size: 35px;
    margin: 40 px 0 10px;
}

main img{
    max-width: 100%;
    color: chocolate;
    border: 3px solid rgb(76, 35, 5);
    
}

a{
    color: rgb(76, 35, 5);
}
a:hover{
    color: chocolate;
}

footer{
    background-color: lightblue;
    text-align: center;
    color: beige;
    padding: 30px;
    
}

p.caption{
   font-style: italic; 
   font-size: 15px;
   margin-top: 0;
}